@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.3rem;
  color: #333;
}
/* 공통클래스 */
.inner {
  display: block;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-color: bisque;
}
/* 전체 레이아웃 */
.wrap{
  position: relative;
  display: block;
}
